html, body {
   margin: 0%;
}

.btn-primary,
.barra {
   background-color: #004991;
}

.barra {
   width: 100%;
   height: 100%;
   color: #FFFFFF;
   font-size: 2em;
   padding: 5px;
}

.menu {
   margin: 5px;
   font-size: 1em;
}

.btn {
   height: 40px;
}

.col-2-5 {
   padding-left: 20px;
   flex: 0 0 20%;
   max-width: 20%;
}